{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/produto.css' %}">
</head>
<body>
    <header>
        <nav>
            <h2>Lista de Produtos Cadastrados</h2>
        </nav>
    </header>
    <main>
        
    </main>

    <table class="tabela-produtos">
        <thead>
            <tr>
                <th>#</th>
                <th>N° Nome</th>
                <th>Modelo</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody> 
            <tr>
                <td><a href="{% url 'index' %}">VOLTAR</a></td>
                <td>{{ produto.id }} - {{ produto.nome }}</td>
                <td>{{ produto.modelo }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.estoque }}</td>
                <td>
                    {% if produto.imagem %}
                        <img src="{{ produto.imagem.url }}" alt="Imagem do Produto" style="width: 50px; height: 50px;">
                    {% else %}
                        <span>Nenhuma imagem</span>
                    {% endif %}
            </tr>
        </tbody>
    </table>
</body>
</html>